<!DOCTYPE html>
<html lang="en">

<head>
	<title>KBRE</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!--    <link rel="stylesheet" type="text/css" media="screen" href="css/stylesheet.css">
    <script src="js/jquery.min.js"></script>
	<script src="js/custom.js"></script>
    <script src="js/modernizr.js"></script>
    <link rel="stylesheet" href="css/custom.css">-->
	   <style>
      /* The heart of the matter */
		.btn-matrix > .btn:nth-child(3n+4) {
		  //clear: left;
		  //margin-left: 0;
		  
		}
		.btn-matrix > .btn:nth-child(n+4) {
		  //margin-top: -1px;
		}
		.btn-matrix > .btn:first-child {
		  //border-bottom-left-radius: 0;
		}
		.btn-matrix > .btn:nth-child(3) {
		  //border-top-right-radius: 4px !important;
		}
		.btn-matrix > .btn:nth-last-child(3) {
		  //border-bottom-left-radius: 4px !important;
		}
		.btn-matrix > .btn:last-child {
		  //border-top-right-radius: 0;
		}

		/* Decorations */
		.btn-matrix {
		  margin: 20px;
		  padding:4px;
		}
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;
      }
      .qform {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 20px 0 #095484; 
      }
	  .rform {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 20px 0 #097784; 
      }
	  .byeform {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 20px 0 #095554; 
      }
      .banner {
      position: relative;
      height: 80px;
      //background-image: url("http://localhost:4000/images/ram.jpg");  
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      }
      .banner::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.1); 
      position: absolute;
      width: 100%;
      height: 100%;
      }
      .myfreetext {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      .cmyfreetext {
      width: calc(100% - 10px);
      padding: 5px;
      }
      .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder, a {
      color: #095484;
      }
      .item input:hover, .item select:hover, .item textarea:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 6px 0 #095484;
      color: #095484;
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      .item i {
      right: 2%;
      top: 30px;
      z-index: 1;
      }
      input[type=radio], input[type=checkbox]  {
      display: none;
      }
      label.radio, label.check {
      position: relative;
      display: inline-block;
      margin: 5px 20px 15px 0;
      cursor: pointer;
      }
      .question span {
      margin-left: 30px;
      }
      span.required {
      margin-left: 0;
      color: red;
      }
      .checkbox-item label {
      margin: 5px 20px 10px 0;
      }
      label.radio:before, label.check:before {
      content: "";
      position: absolute;
      left: 0;
      }
      label.radio:before {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 2px solid #095484;
      }
      label.check:before {
      top: 2px;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      border: 1px solid #095484;
      }
      input[type=checkbox]:checked + .check:before {
      background: #095484;
      }
      label.radio:after {
      left: 5px;
      border: 3px solid #095484;
      }
      label.check:after {
      left: 4px;
      border: 3px solid #fff;
      }
      label.radio:after, label.check:after {
      content: "";
      position: absolute;
      top: 6px;
      width: 8px;
      height: 4px;
      background: transparent;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      opacity: 0;
      }
      input[type=radio]:checked + label:after, input[type=checkbox]:checked + label:after {
      opacity: 1;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background: #0666a3;
      }
      @media (min-width: 568px) {
      .city-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      .city-item input {
      width: calc(50% - 20px);
      }
      .city-item select {
      width: calc(50% - 8px);
      }
      }
    </style>

</head>

<body>

	<div class="jumbotron text-center">
		<h3>Welcome to KBRE final exam, <%=data.name%> !</h3>
	</div>
	<div id=bkgDiv">
	<div class="container text-center" id="welcomePanel">
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<div>
					<div class="text-center">
						<h3>Please read below instructions before the exam</h3>
					</div>
					<div class="list-group">
						<a href="#" class="list-group-item active">
							<h4 class="list-group-item-heading">No browser refresh</h4>
							<p class="list-group-item-text">Please do not refresh this page while you are here. You will
								lose all your answers if you refresh this before submit the answers.</p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">Exam time</h4>
							<p class="list-group-item-text">You have 60 mins to complete this exam</p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">Question Types</h4>
							<p class="list-group-item-text">You will have some questions with single choice, some
								questions with multiple choice and some free text answers.</p>
						</a>
						<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">All the Best!!</h4>
							<p class="list-group-item-text">Click on the button below to being your exam. All the best
								!!</p>
						</a>
					</div>
					<div>
						<button class="btn btn-success" onclick="getQuetionPaper()">Start the test!</button>
						<!--<form class="form-horizontal" method="post" action="/getsinglepagequiz">
								  <input type="hidden" id="uid" name="uid" value="<%=data.uid%>" />
								  <input type="hidden" id="skey" name="skey" value="<%=data.skey%>" />
								  <button type="submit" class="btn btn-success" id="bSubmit">Get Paper!</button>
							</form>-->
							
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<img class="img-responsive" src="images/kids.png" />
			</div>
		</div>
	</div>
	<div class="container" id="loadingPanel" style="display:none">
		
	</div>
	<div class="container" id="examPanel" style="display:none;">
	<div class="qform">
		<div class="row">
			<div class="col-sm-1">
				<h3></h3>
			</div>
			<div class="col-sm-10" id="divQuestion">
				<h3 id="qheader">Loading questions...</h3>
				<pre id="qdesc">please wait

				</pre>
				<div class="container" id="qoptions">

				</div>
				<div class="col-sm-1">
					<h3></h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10">
				<div class="tex-center">
				  <span id="pbc"></span>
				  <span id="nbc"></span>
				  <button class="btn btn-warning" onclick="reviewQuiz()">Review & Submit!</button>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				
			</div>
		</div>
		</div>
	</div>
	<div class="container" id="goobyePanel" style="display:none;">
		<div class="byeform text-center">
		<div class="row">
			<div class="col-sm-1">
				<h3></h3>
			</div>
			<div class="col-sm-10">
				<h3>Awesome job ! You are done !!!</h3>
				<p>
					Enjoy your holidays..
				</p>
				<hr/>
				<div>

				</div>
				<div class="col-sm-1">
					<h3></h3>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="container" id="reviewPanel" style="display:none;">
	<div class="rform text-center">
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				<h3 id="rheader">Review Questions and Submit</h3>
				<p>Click on question number to go back and answer.<br/>
				Submit if everything is answered.
				</p>
				<hr/>
				<div id="roptions">

				</div>
			</div>
			<div class="col-sm-2">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10 text-center">
					<hr/>
					<span>
						<span>
							<button class="btn btn-primary" onclick="submitQuiz()">Submit Answers !</button>
						</span>
					</span>
			</div>
			<div class="col-sm-1">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				
			</div>
		</div>
		</div>
	</div>
	</div>
	<script language="javascript">

		var qz = {};
		var currentQIndex = 0;
		$(document).ready(function () {
			$("#examPanel").hide();
		});


		function getQuetionPaper() {

			$.post({
				url: "/getmyquiz",
				data: {
					userid: '<%=data.uid%>',
					session: '<%=data.skey%>',
				},
				success: function (result) {
					qz = JSON.parse(result);
					pupulateQuestion(0, 0);
				}
			});
			
			$("#welcomePanel").hide();
			//$("#bkgDiv").css("background-image", "url('images/que.png')");
			$("#examPanel").show();
		}

		function getQuetionPaperFull()
		{
			$.post({
				url: "/getsinglepagequiz",
				data: {
					userid: '<%=data.uid%>',
					session: '<%=data.skey%>',
				},
				success: function (result) {
					//qz = JSON.parse(result);
					//pupulateQuestion(0, 0);
				}
			});
		}

		function captureAns(_indx) {
			//update existing if any
			if (document.all["mainQuestion"]) {
				var pq = qz.questions[_indx];
				//check qtype
				//if check boxes 
				var sels = "";
				var ans = "";

				var r = (document.all["mainQuestion"]).getElementsByTagName("input");
				if ((pq.qtype == 1) || (pq.qtype == 2)) {
					for (b = 0; b < r.length; b++) {
						sels += ((sels.length > 0) ? "," : "");
						sels += ((r[b].checked) ? "1" : "0");
						if (r[b].checked) {
							ans += ((ans.length > 0) ? "," : "");
							ans += (r[b]).value;
						}
					}

					if (sels.length > 0) {
						pq.selections = sels;
					}
				}
				else if (pq.qtype == 3) {
					var t = document.getElementById("q-"+_indx+"ftAns");
					//it will be a textbox
					ans = t.value;
				}
				else if (pq.qtype == 5) {
					var t = document.getElementById("q-"+_indx+"ftAns");
					//it will be a textbox
					ans = t.value;
				}
				if (ans.length > 0) {
					pq.answers = ans;
				}
			}
		}

		function pupulateQuestion(prevIndex, newIndex) {
		
			captureAns(prevIndex);
			//populate new one

			if (qz.questions[newIndex]) {
				var cq = qz.questions[newIndex];
				////document.all["qdesc"].innerHTML = cq.text;
				////document.all["qheader"].innerText = "Question " + (newIndex + 1) + " of " + qz.questions.length + " !";
				//button bar
				if (newIndex == 0) {
					document.all["pbc"].innerHTML = "<button class='btn btn-default' class='btn btn-primary' disabled>Prev</button>";
					document.all["nbc"].innerHTML = "<button class='btn btn-primary' onclick='pupulateQuestion(" + newIndex + "," + (newIndex + 1) + ")'>Next</button>";
				}
				else if (newIndex == (qz.questions.length - 1)) {
					document.all["pbc"].innerHTML = "<button class='btn btn-primary' class='btn btn-primary' onclick='pupulateQuestion(" + newIndex + "," + (newIndex - 1) + ")'>Prev</button>";
					document.all["nbc"].innerHTML = "<button class='btn btn-default' disabled>Next</button>";
				}
				else {
					document.all["pbc"].innerHTML = "<button class='btn btn-primary' onclick='pupulateQuestion(" + newIndex + "," + (newIndex - 1) + ")'>Prev</button>";
					document.all["nbc"].innerHTML = "<button class='btn btn-primary' onclick='pupulateQuestion(" + newIndex + "," + (newIndex + 1) + ")'>Next</button>";
				}

				//set options panel
				//alert(cq.qtype);
				/*
				var strOpString = "";
				if ((cq.qtype == 1) || (cq.qtype == 2)) {
					if (cq.options && cq.options.toString().trim().length > 0) {
						//alert("cq.options found");
						//split and make 2 collections
						var op = cq.options.toString().split(',');
						var sl = cq.selections.split(',');

						for (var a = 0; a < op.length; a++) {
							//var s = op[a];
							strOpString += '<div class="row"><div class="col-sm-2"></div><div class="col-sm-8">';
							strOpString += '<label><input ' + ((cq.qtype == 1) ? 'type="radio"' : 'type="checkbox"') + 'name="answers" value="' + op[a] + '" ' + ((sl[a] == '1') ? 'checked' : '') + '/>' + op[a] + '</label></div><div class="col-sm-2"></div></div>';
						}
						//alert(strOpString);
						document.all["qoptions"].innerHTML = strOpString;
					}
					else {
						//alert("cq.options not found");
						document.all["qoptions"].innerHTML = "";
					}
				}
				else if (cq.qtype == 3) {

					document.all["qoptions"].innerHTML = '<div class="row"><div class="col-sm-1"></div><div class="col-sm-10"><div class="form-group"><label for="comment">Type your answer:</label><textarea class="form-control" rows="5" id="ftAns">' + ((cq.answers) ? cq.answers : '') + '</textarea></div></div><div class="col-sm-1"></div></div>';
				}*/
			//alert(qz.questions[i].qtype);
				
				//alert(JSON.stringify(cq));
				var qstr="";
				var i=newIndex;
				
				qstr+='<div class="question" id="mainQuestion">';
				qstr+='<span><div><b>Question '+(newIndex+1)+' of '+qz.questions.length+'!&nbsp;&nbsp;&nbsp;&nbsp;</b><small>('+cq.q_points+'&nbsp;&nbsp;point&nbsp;weight)</small></div></span></br/>';
				
				var questionText=cq.text;
				if(cq.qtype==5)
				{
				
					var t='&nbsp;&nbsp;<input style="width:150px;" type="text" id="'+('q-'+i+'ftAns')+'" value="'+ ((cq.answers)?cq.answers:'') +'"/>&nbsp;&nbsp;<br/>';
					//alert(t);
					questionText=questionText.replace('___',t);
				}
				else
				{
				}
				qstr+='	 <p>' + questionText + '</p>';
				
				if(cq.hint)
				{
					qstr+='	<h5>'+cq.hint+'<span class="required">*</span></h5>';
				}
				else
				{
					if(cq.qtype==1)
					{
						qstr+='	<h5>Choose one from below<span class="required">*</span></h5>';
					}
					else if(cq.qtype==2)
					{
						qstr+='	<h5>Choose all correct answers<span class="required">*</span></h5>';
					}
					else if(cq.qtype==3)
					{
						qstr+='	<h5>Answer in box below<span class="required">*</span></h5>';
					}
					else if(cq.qtype==4)
					{
						qstr+='	<h5>Answer in area below<span class="required">*</span></h5>';
					}
				}
				qstr+='	<div class="question-answer" id="qoptions">';
				if((cq.qtype==1)||(cq.qtype==2))
				{
					
					if (cq.options && cq.options.toString().trim().length > 0) 
					{
						//alert("cq.options found");
						//split and make 2 collections
						var op = cq.options.toString().split(',');
						var sl = cq.selections.split(',');
						for(var j=0;j<op.length;j++)
						{
							qstr+='	<div><input '+((cq.qtype == 1)?'type="radio"':'type="checkbox"')+'" value="none" '+((cq.qtype == 1) ? ('id="q-'+i+'_r-'+j+'" name="q-'+i+'_answers"') : ('id="q-'+i+'_c-'+j+'" name="q-'+i+'_answers"'))+  +' value="'+op[j]+'" '+((sl[j] == '1') ? 'checked' : '')+' />';
							qstr+='		<label for="'+((cq.qtype == 1)?('q-'+i+'_r-'+j):('q-'+i+'_c-'+j))+'" '+((cq.qtype == 1) ? 'class="radio"' : 'class="check"')+'><span>'+op[j]+'</span></label>';
							qstr+='	</div>';
						}
					}
					else
					{
						//do nothing
					}
				}
				else if(cq.qtype==3)
				{
					qstr+='            <div class="question-answer">';
					qstr+='						<div>';
					qstr+='							<textarea rows="5" style="margin: 0px; width: 600px;" id="'+('q-'+i+'ftAns')+'">'+ ((cq.answers) ? cq.answers : '') +'</textarea>';
					qstr+='						</div>';
					qstr+='					</div>';
				}
				else if(cq.qtype==4)
				{
					qstr+='            <div class="question-answer">';
					qstr+='						<div>';
					qstr+='							<textarea style="width=300px" rows="5" id="'+('q-'+i+'ftAns')+'">'+ ((cq.answers) ? cq.answers : '') +'</textarea>';
					qstr+='						</div>';
					qstr+='					</div>';
				}
				else if(cq.qtype==5)
				{
					//already handled in question text inline
					//fill in the blank type
				}
				qstr+='	</div>';
				qstr+='</div>';
				
				//append to main
				$("#divQuestion").html(qstr);
				
				currentQIndex = newIndex;
			}
		}

		function submitQuiz() {
			//validate

			$.post({
				url: "/submitmyquiz",
				data: qz,
				success: function (result) {
					//thank you message and div
					//alert('Thank you');
					$("#reviewPanel").hide();
					$("#examPanel").hide();
					$('#goobyePanel').show();
				}
			});

		}

        function reviewQuiz()
		{
			$("#examPanel").hide();
			//get the curret state of q a
			captureAns(currentQIndex);
			//populate review panel
			var rvTxt="<div class='btn-group btn-matrix'>";
			    
				for(var j=0;j<qz.questions.length;j++)
				{
					//rvTxt+='<div style="padding:4px">';
					rvTxt+=("<button class='btn "+ (((qz.questions[j].answers)&&(qz.questions[j].answers!=''))?"btn-info":"btn-warning") +"' onclick='goBackToExam(" + j + ")'>"+ "Question " + (j+1) + "<br/>" + (((qz.questions[j].answers)&&(qz.questions[j].answers!=''))?"Answered":"Not Answered") +"</button>");
					//rvTxt+="</div>";
				}
				rvTxt+="</div>";
				$("#roptions").html(rvTxt);
			$("#reviewPanel").show();
		}

		function goBackToExam(_idx)
		{
			
			$("#reviewPanel").hide();
			$("#roptions").html('');
			if(_idx==0)
			{
			//alert(1);
				pupulateQuestion(0,0);
			}
			else 
			{
				pupulateQuestion(_idx-1,_idx);
			}
			
			$("#examPanel").show();

		}

	</script>
</body>
</html>
